/* GPTalk.css */

.input-row {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background-color: white;
    border-top: 1px solid #ccc;
}

.chat-history {
    height: calc(100vh - 200px);
    overflow-y: auto;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 60px;
}

.input-form {
    display: flex;
    width: 100%;
}
.full-width {
    width: 100%;
}

.form-group {
    width: 100%;
}

.form-control {
    width: 100%;
}

.message {
    word-wrap: break-word;
}

.message.user {
    text-align: right;
    font-weight: bold;
}

.message.chatgpt {
    text-align: left;
    font-weight: normal;
}

.message.error {
    text-align: center;
    font-weight: normal;
    color: red;
}

.model-name {
    margin-left: 15px;
}
